.list-group-item {
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.list-group-item-label {
    font-family: 'Roboto-slab';
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
    transition: 0.3s;
}

.list-item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item-label-line-through {
    text-decoration: line-through;
}

.list-group-item:hover .list-group-item-label { 
    font-size: 25px;
}
